body {
  margin:0px;
  background-color:rgba(129, 211, 248, 1);
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:351px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:157px;
  width:347px;
  height:351px;
  display:flex;
  opacity:0.94;
  text-align:justify;
  text-justify:inter-word;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:281px;
  width:283px;
  height:52px;
  display:flex;
  font-size:18px;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:182px;
  width:298px;
  height:52px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:-webkit-linear-gradient(199.010929441551deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 128%);
  background:-moz-linear-gradient(250.989070558449deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 128%);
  background:linear-gradient(250.989070558449deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 128%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:414px;
  width:132px;
  height:47px;
  display:flex;
  font-size:20px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:-webkit-linear-gradient(333.054705426563deg, rgba(255, 255, 255, 1) 34%, rgba(229, 229, 229, 1) 53%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(116.945294573437deg, rgba(255, 255, 255, 1) 34%, rgba(229, 229, 229, 1) 53%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(116.945294573437deg, rgba(255, 255, 255, 1) 34%, rgba(229, 229, 229, 1) 53%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3.mouseOver {
}
#u3_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:-webkit-linear-gradient(333.054705426563deg, rgba(255, 255, 255, 1) 34%, rgba(229, 229, 229, 1) 53%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(116.945294573437deg, rgba(255, 255, 255, 1) 34%, rgba(229, 229, 229, 1) 53%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(116.945294573437deg, rgba(255, 255, 255, 1) 34%, rgba(229, 229, 229, 1) 53%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3.mouseDown {
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#7F7F7F;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:331px;
  width:170px;
  height:33px;
  display:flex;
  font-size:20px;
  color:#7F7F7F;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#7F7F7F;
}
#u4.disabled {
}
.u4_input_option {
  font-size:20px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:23px;
  width:355px;
  height:77px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold Italic', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#008C8C;
  text-align:justify;
  text-justify:inter-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:547px;
  width:333px;
  height:114px;
  display:flex;
  font-family:'Arial Bold Italic', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#008C8C;
  text-align:justify;
  text-justify:inter-word;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
