body {
  margin:0px;
  background-color:rgba(129, 211, 248, 0.996078431372549);
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(225.199636054524deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:-moz-linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:906px;
  width:55px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u585.mouseOver {
}
#u585_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u585.mouseDown {
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(225.199636054524deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:-moz-linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:906px;
  width:55px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u586.mouseOver {
}
#u586_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u586.mouseDown {
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(225.199636054524deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:-moz-linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:906px;
  width:55px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u587.mouseOver {
}
#u587_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u587.mouseDown {
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(225.199636054524deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:-moz-linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:906px;
  width:55px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u588.mouseOver {
}
#u588_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u588.mouseDown {
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(225.199636054524deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:-moz-linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:906px;
  width:55px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u589.mouseOver {
}
#u589_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u589.mouseDown {
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u590_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:underline ;
  letter-spacing:normal;
  color:#80FFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u590_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:underline ;
  letter-spacing:normal;
  color:#80FFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:906px;
  width:49px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:underline ;
  color:#80FFFF;
}
#u590 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_img.disabled {
}
#u590.disabled {
}
.u590_input_option {
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:underline ;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(225.199636054524deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:-moz-linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  background:linear-gradient(224.800363945476deg, rgba(255, 255, 255, 1) 42%, rgba(0, 0, 0, 1) 118%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:906px;
  width:55px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u591.mouseOver {
}
#u591_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(313.924149379209deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(136.075850620791deg, rgba(255, 255, 255, 1) 23%, rgba(229, 229, 229, 1) 44%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u591.mouseDown {
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:949px;
  width:67px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u592_img.mouseOver {
}
#u592.mouseOver {
}
#u592_img.mouseDown {
}
#u592.mouseDown {
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:949px;
  width:59px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_img.mouseOver {
}
#u593.mouseOver {
}
#u593_img.mouseDown {
}
#u593.mouseDown {
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:949px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u594_img.mouseOver {
}
#u594.mouseOver {
}
#u594_img.mouseDown {
}
#u594.mouseDown {
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:949px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_img.mouseOver {
}
#u595.mouseOver {
}
#u595_img.mouseDown {
}
#u595.mouseDown {
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:949px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u596_img.mouseOver {
}
#u596.mouseOver {
}
#u596_img.mouseDown {
}
#u596.mouseDown {
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:949px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u597_img.mouseOver {
}
#u597.mouseOver {
}
#u597_img.mouseDown {
}
#u597.mouseDown {
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Italic', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:33px;
  color:#FFFFFF;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:374px;
  height:47px;
  display:flex;
  font-family:'Merriweather Italic', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:33px;
  color:#FFFFFF;
}
#u598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:116px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:116px;
  width:121px;
  height:110px;
  display:flex;
}
#u600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:145px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(195.858781031887deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:-moz-linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:259px;
  width:109px;
  height:32px;
  display:flex;
  font-size:20px;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u602_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u602.mouseOver {
}
#u602_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u602.mouseDown {
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(195.858781031887deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:-moz-linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:259px;
  width:109px;
  height:32px;
  display:flex;
  font-size:20px;
}
#u603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u603_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u603.mouseOver {
}
#u603_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u603.mouseDown {
}
#u603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:197px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:319px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:348px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(195.858781031887deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:-moz-linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:468px;
  width:109px;
  height:32px;
  display:flex;
  font-size:20px;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u607.mouseOver {
}
#u607_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u607.mouseDown {
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(195.858781031887deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:-moz-linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:468px;
  width:109px;
  height:32px;
  display:flex;
  font-size:20px;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u608_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u608.mouseOver {
}
#u608_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u608.mouseDown {
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:400px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u610 label {
  left:0px;
  width:100%;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:437px;
  width:386px;
  height:22px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u610 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u610_img.selected {
}
#u610.selected {
}
#u610_img.disabled {
}
#u610.disabled {
}
#u610_img.selectedDisabled {
}
#u610.selectedDisabled {
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:2px;
  width:360px;
  word-wrap:break-word;
  text-transform:none;
}
#u610_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:107px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:318px;
  width:115px;
  height:107px;
  display:flex;
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:546px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:575px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(195.858781031887deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:-moz-linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:783px;
  width:109px;
  height:32px;
  display:flex;
  font-size:20px;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u614.mouseOver {
}
#u614_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u614.mouseDown {
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(195.858781031887deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:-moz-linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  background:linear-gradient(254.141218968113deg, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 56%, rgba(0, 0, 0, 1) 130%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:783px;
  width:109px;
  height:32px;
  display:flex;
  font-size:20px;
}
#u615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u615_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u615.mouseOver {
}
#u615_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:-webkit-linear-gradient(337.260409186541deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:-moz-linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  background:linear-gradient(112.739590813459deg, rgba(255, 255, 255, 1) 35%, rgba(229, 229, 229, 1) 55%, rgba(0, 0, 0, 1) 122%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u615.mouseDown {
}
#u615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:627px;
  width:253px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u617 label {
  left:0px;
  width:100%;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:664px;
  width:386px;
  height:22px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u617 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u617_img.selected {
}
#u617.selected {
}
#u617_img.disabled {
}
#u617.disabled {
}
#u617_img.selectedDisabled {
}
#u617.selectedDisabled {
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:2px;
  width:360px;
  word-wrap:break-word;
  text-transform:none;
}
#u617_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:115px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:541px;
  width:116px;
  height:115px;
  display:flex;
  font-size:20px;
  color:#F2F2F2;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline ;
  color:#6300BF;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:725px;
  width:367px;
  height:29px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline ;
  color:#6300BF;
}
#u619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
