body {
  margin:0px;
  background-color:rgba(127, 127, 127, 1);
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:417px;
  background:-webkit-linear-gradient(304.029755803273deg, rgba(255, 255, 255, 1) 16%, rgba(229, 229, 229, 1) 39%, rgba(0, 0, 0, 1) 120%);
  background:-moz-linear-gradient(145.970244196727deg, rgba(255, 255, 255, 1) 16%, rgba(229, 229, 229, 1) 39%, rgba(0, 0, 0, 1) 120%);
  background:linear-gradient(145.970244196727deg, rgba(255, 255, 255, 1) 16%, rgba(229, 229, 229, 1) 39%, rgba(0, 0, 0, 1) 120%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:157px;
  width:402px;
  height:417px;
  display:flex;
  opacity:0.94;
}
#u2425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2426_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2426_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:369px;
  width:229px;
  height:32px;
  display:flex;
  font-size:18px;
}
#u2426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2426_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2426.disabled {
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:318px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2428_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:312px;
  width:229px;
  height:31px;
  display:flex;
  font-size:18px;
}
#u2428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2428_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2428.disabled {
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:54px;
  background:-webkit-linear-gradient(207.825427714159deg, rgba(255, 255, 255, 1) 18%, rgba(229, 229, 229, 1) 50%, rgba(0, 0, 0, 1) 123%);
  background:-moz-linear-gradient(242.174572285841deg, rgba(255, 255, 255, 1) 18%, rgba(229, 229, 229, 1) 50%, rgba(0, 0, 0, 1) 123%);
  background:linear-gradient(242.174572285841deg, rgba(255, 255, 255, 1) 18%, rgba(229, 229, 229, 1) 50%, rgba(0, 0, 0, 1) 123%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:441px;
  width:99px;
  height:54px;
  display:flex;
  font-size:17px;
}
#u2429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2429_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:54px;
  background:-webkit-linear-gradient(322.091817904095deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u2429.mouseOver {
}
#u2429_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:54px;
  background:-webkit-linear-gradient(322.091817904095deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u2429.mouseDown {
}
#u2429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:54px;
  background:-webkit-linear-gradient(207.825427714159deg, rgba(255, 255, 255, 1) 18%, rgba(229, 229, 229, 1) 50%, rgba(0, 0, 0, 1) 123%);
  background:-moz-linear-gradient(242.174572285841deg, rgba(255, 255, 255, 1) 18%, rgba(229, 229, 229, 1) 50%, rgba(0, 0, 0, 1) 123%);
  background:linear-gradient(242.174572285841deg, rgba(255, 255, 255, 1) 18%, rgba(229, 229, 229, 1) 50%, rgba(0, 0, 0, 1) 123%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:441px;
  width:99px;
  height:54px;
  display:flex;
  font-size:17px;
}
#u2430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2430_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:54px;
  background:-webkit-linear-gradient(322.091817904095deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u2430.mouseOver {
}
#u2430_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:54px;
  background:-webkit-linear-gradient(322.091817904095deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:-moz-linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  background:linear-gradient(127.908182095905deg, rgba(255, 255, 255, 1) 28%, rgba(229, 229, 229, 1) 48%, rgba(0, 0, 0, 1) 121%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u2430.mouseDown {
}
#u2430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:355px;
  width:143px;
  height:25px;
  display:flex;
  font-family:'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Italic', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:25px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:210px;
  width:306px;
  height:95px;
  display:flex;
  font-family:'Merriweather Italic', 'Merriweather Regular', 'Merriweather', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:25px;
}
#u2432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
